.imagen {
	width: 50%;
	list-style-image: center;
}

h1 {
	text-align: center;
}
h1 {
background: orange;
}
body{
background: purple;
}
img{
	img
}
.imagen{
background: red;
	
}

