body{
	background: purple;
	height: 600px;
}
h1{
text-align: ;
}
img{
	
}

.header-2{
	background-color: yellow;
	height: 200px;
	border-radius: 25px 25px 0 0;
	margin-top: -8px;
	border-top: 1px solid black;

}
.header-2-hide{
	display: none;
}
h1{
	text-align: center;
	color: red;
	font-size: 30px;
	font-weight: 500;
	font-family: sans-serif;
	padding-top: 40px;
}
#one{
	margin-left: 45%;
	margin-top: 20px;
	margin-bottom: 20px;
	background: black;
	text-align: center;
	color: white;
	border-radius: 5px;
	font-size: 20px;

}
header{
	background: #fe7938;
	border-top: 1px solid black;

}
.sticky{
	position: sticky;
	top: 0;

}
.container{
	background-color: #fe7938;
	width: 100%;
	max-width: 1024px;
	padding: 15px;
	margin: 0 auto;
}
nav.nav-header{
	background-color: #fe7938;
	float: right;
	width: 50%;
	margin-right:-10px;
}
nav.nav-header li{
	display: inline-block;
	margin: 0 10px;
	line-height: 50px;
}
nav.nav-header li a:hover{
	background: black;
	color: white;
}